.ProductCard
{
    width: 380px;
    height: 445px;
    display: flex;
    flex-direction: column;
}
.AddedToCart
{
    box-shadow: 0 4px 35px 0 #A8ACB030;
}
.Product
{
    margin: 1.6rem;
    position: relative;
}
.OutOfStock .Product div{
    position: relative;
}

.OutOfStock p
{
    color: #8D8F9A;
}
.ProductImage
{
    width: 350px;
    height: 330px;
    object-fit: scale-down;
}
.OutOfStock .Product div::before
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    opacity: .5;
}
.OutOfStock .Product div .Out
{
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 38px;
    color: #8D8F9A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.CircleCart
{
    width: 52px;
    height: 52px;
    position: absolute;
    top: 304px;
    right: 31px;
}
.ProductDetails
{
    margin-top: 2.4rem;
}
.ProductName
{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 29px;
    color: #1D1F22;
    cursor: pointer;
}
.ProductPrice
{

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 29px;
}
@media (max-width: 792px) {
    .ProductCard
    {
        width: 600px;
        margin: auto;
    }
    .ProductImage
    {
        width: 90%;
    }
}
@media (max-width: 472px)
{
    .ProductCard
    {
        width: 350px;
        margin: auto;
    }
    .ProductImage
    {
        width: 100%;
    }
}