.Currencies
{
    width: 135px;
    height: 170px;
    overflow-y: auto;
    scrollbar-width: none;
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
    position: absolute;
    top: 4rem;
    z-index: 20;
}
.Currencies li
{
    padding: 2rem 4rem 2rem 2rem;
    color: #1D1F22;
}
.Currencies li button
{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 29px;
}