.nav--bar
{
    width: 100%;
    height: 8rem;
    padding: 2.8rem 10rem ;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
}
.categories
{
    display: flex;
    width: fit-content;
    align-items: start;
    align-self: start;
    /*border: 1px solid black;*/

}
.categories li
{
    margin-right: 1.6rem;
    padding: .4rem 1.6rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19px;
    height: 5rem;
}
.categories li:last-child
{
    margin-right: 0;
}
.categories li.active
{
    font-weight: 600;
    border-bottom: 1px solid #5ECE7B;
}
.categories li.active a
{
    color: #5ECE7B;
}
.categories li a
{
    color: #1D1F22;
}
.logo
{
    width: 4rem;
    height: 4rem;
    align-self: center;
}
.others
{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20rem;
    height: 4rem;
    align-self: center;
}
.others li button
{
    cursor: pointer;
}
.others li:first-child
{
    margin-right: 2rem;
}