.ProductDescription
{
    margin: 8rem 21.9rem 6rem 10rem;
    display: flex;
}
.ProductGallery
{
    width: 8rem;
}
.ProductImage
{
    width: 8rem;
    height: 8rem;
    margin-bottom: 4rem;
    cursor: pointer;
}
.Product
{
    display: flex;
    margin-left: 3.5rem;
}
.ProductMainImage
{
    width: 50rem;
    height: 51.1rem;
    margin-right: 10.5rem;
}
.ProductMainImage img
{
    width: 100%;
    height: 100%;
    cursor: initial;
}
.ProductDetails
{
    width: 30rem;
    color: #1D1F22;
}
.ProductName
{
    font-size: 3rem;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 1.6rem;
}
.ProductBrand
{
    font-size: 3rem;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 4rem;
}
.ProductPrice
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.ProductPrice + span
{
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 2rem;
}
.ProductTextDescription
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 4rem;
}