@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

*,*::before,*::after
{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,ol,li
{
  list-style: none;
}
a,button
{
  border: none;
  text-decoration: none;
  background-color: transparent;
  outline: none;
}